.swiper-container__container{
    margin:20px 45px 40px;
    position: relative;
    overflow: hidden;
}

.swiper-container__button-prev, .swiper-container__button-next{
    width: 20px;
    background-size: 20px 44px;
    display: none;
}

.swiperContainer{
    position: relative;
}

.oneCenteredSlide .swiper-container{
    margin:20px 15px 45px;
}

.oneCenteredSlide .swiper-slide{
    text-align:center;
}

.swiper-container__pagination{
    bottom: -30px;
    width: 100%;
}

.swiper-container__pagination > .swiper-pagination-bullet{
    margin:0 5px;
}

@media (min-width: 500px){
    .oneCenteredSlide .swiper-container{
        width:500px;
        margin:20px auto 45px;
    }
}
@media (min-width: 992px){
    .swiper-container__button-prev, .swiper-container__button-next{
        display: block;
    }
}
